[submodule "3rdparty/vcpkg"]
	path = 3rdparty/vcpkg
	url = https://github.com/iamsergio/vcpkg.git
[submodule "3rdparty/slint"]
	path = 3rdparty/slint
	url = https://github.com/slint-ui/slint.git
	shallow = true
